@import '../../index.scss';

.info {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 184px;

  .images {
    display: flex;
    gap: 30px;
    height: 242px;
    margin-bottom: 80px;
    img {
      background: #d8d8d8;
      border-radius: 8px;
    }
  }

  .about {
    max-width: 540px;
    margin: 0 auto;

    h2 {
      font-weight: 900;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #4d96a9;
      text-align: center;
      margin-bottom: 16px;
    }
    h3 {
      font-weight: 900;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      color: #28283d;

      max-width: 445px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .message {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #87879d;
      max-width: 526px;
    }
  }
}
