@import '../../index.scss';

.header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/desktop/image-hero-left.png),
    url(../../assets/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  background-position: left -33px top 90px, right -33px top 149px;
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: 214px;
  overflow: hidden;

  @include mq(1244px) {
    background-image: none;
  }

  .image {
    display: none;
    @include mq(1244px) {
      display: block;
      width: 820px;
      margin-bottom: 72px;
    }
  }

  svg {
    margin-bottom: 108px;

    @include mq(1244px) {
      margin-bottom: 64px;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283d;
    max-width: 445px;
    margin-bottom: 34px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879d;
    max-width: 540px;
    margin-bottom: 32px;
  }
  button {
    background: #4d96a9;
    border-radius: 29px;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding-block: 16px;
    padding-inline: 40px;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
    &:hover,
    :active {
      background-color: #71c0d4;
    }

    span {
      color: #d9b8ff;
    }
  }
  .about {
    background: #855fb1;
    &:hover,
    :active {
      background-color: #b18bdd;
    }
  }
  .buttons {
    display: flex;
    gap: 16px;
  }
}
