@import '../../index.scss';

.header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-bottom: 304px;
  overflow: hidden;
  @include mq(992px) {
    margin-bottom: 287px;
  }
  @include mq(767px) {
    margin-bottom: 268px;
  }
  .chat {
    display: flex;
    .left_img {
      background-image: url(../../assets/desktop/image-hero-left.png);
      background-repeat: no-repeat;
      background-position: right top;
      transform: translateY(-50px);
      width: 394px;
      height: 303px;
      @include mq(992px) {
        background-image: none;
        display: none;
      }
    }
    .right_img {
      background-image: url(../../assets/desktop/image-hero-right.png);
      background-repeat: no-repeat;
      background-position: left top 10px;
      width: 394px;
      height: 303px;
      padding-bottom: 10px;
      box-sizing: content-box;
      @include mq(992px) {
        background-image: none;
        display: none;
      }
    }
  }
  .group_chat {
    margin-inline: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    color: #28283d;
    @include mq(992px) {
      flex-shrink: 1;
      margin-inline: 24px;
    }
  }

  @include mq(992px) {
    background-image: none;
  }

  .image {
    display: none;
    @include mq(992px) {
      display: block;
      width: auto;
      margin-bottom: 72px;
      max-width: 110%;
    }
  }

  svg {
    margin-bottom: 108px;

    @include mq(992px) {
      margin-bottom: 64px;
    }
    @include mq(767px) {
      margin-bottom: 54px;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283d;
    max-width: 445px;
    margin-bottom: 34px;
    @include mq(992px) {
      font-size: 48px;
      line-height: 48px;
      max-width: 339px;
      margin-bottom: 24px;
    }
    @include mq(767px) {
      font-size: 40px;
      line-height: 44px;
      max-width: 270px;
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879d;
    max-width: 540px;
    margin-bottom: 32px;

    @include mq(992px) {
      font-size: 16px;
    }
  }
  button {
    background: #4d96a9;
    border-radius: 29px;
    font-weight: 900;
    width: 193px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding-block: 16px;
    padding-inline: 40px;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
    &:hover,
    :active {
      background-color: #71c0d4;
    }

    span {
      color: #d9b8ff;
    }
  }
  .about {
    background: #855fb1;
    &:hover,
    :active {
      background-color: #b18bdd;
    }
    width: 139px;
    padding-inline: 29px;
  }
  .buttons {
    display: flex;
    gap: 16px;
    @include mq(767px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
