@import '../../';

.footer {
  background: linear-gradient(hsla(192, 37%, 48%, 0.9), hsla(192, 37%, 48%, 0.9)),
    url(../../assets/desktop/image-footer.jpg) no-repeat center center/cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(500px) {
    background: linear-gradient(hsla(192, 37%, 48%, 0.9), hsla(192, 37%, 48%, 0.9)),
      url(../../assets/mobile/image-footer.jpg) no-repeat center center/cover;
  }
  position: relative;

  .num {
    height: 56px;
    width: 56px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 16px;
    color: #87879d;
    left: 50%;
    transform: translateX(-50%);
    top: -26px;
    z-index: 1;
    background: #fafafa;
    .line {
      height: 84px;
      opacity: 0.25;
      border-right: 1px solid #87879d;
      left: 50%;
      transform: translateX(-50%);
      top: -83px;
      position: absolute;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 116px;
    padding-bottom: 104px;
    margin-inline: 40px;
    width: 100%;
    @include mq(992px) {
      flex-direction: column;
      text-align: center;
      padding-top: 92px;
      padding-bottom: 66px;
    }
    @include mq(767px) {
      padding-bottom: 72px;
    }

    h3 {
      font-weight: 900;
      font-size: 40px;
      line-height: 44px;
      color: #fafafa;
      max-width: 350px;
      @include mq(992px) {
        margin-bottom: 32px;
      }
      @include mq(767px) {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 24px;
      }
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #fafafa;
      max-width: 350px;
      @include mq(992px) {
        margin-bottom: 40px;
        max-width: 573px;
      }
      @include mq(767px) {
        margin-bottom: 32px;
      }
    }
    button {
      background: #855fb1;
      border-radius: 29px;
      font-weight: 900;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      width: 193px;
      padding-block: 16px;
      padding-inline: 40px;
      span {
        color: #d9b8ff;
      }
      cursor: pointer;
      &:active {
        transform: scale(0.98);
      }
      &:hover,
      :active {
        background-color: #b18bdd;
      }
    }
  }
}
